<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
-

* {
  cursor: url('https://iili.io/FFnZyzu.png'), pointer;
}
#mainTable {
  font-size: 20px;
  font-family: 'Kabel', sans-serif;
  text-align: center;
  vertical-align: middle;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 2px 2px;
}

.tb_header {
  padding-bottom: 10px;
  font-family: 'Kabel', sans-serif;
}

#fldLeft, #fldRight, #fldMiddleT, #fldMiddleB {
  text-align: center;
  width: 450x;
  height: 100px;
  padding: 0;
  border: 1px solid #FFFFFF;
  cursor: url('https://iili.io/FFnZyzu.png'), pointer;
  font-family: 'Kabel', sans-serif;
  background-color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
}

#fldLeft img, #fldRight img, #fldMiddleT img, #fldMiddleB img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cbox {
  cursor: url('https://iili.io/FFnZyzu.png'), pointer;
  font-family: 'Kabel', sans-serif;
  font-size: 2px;
}

div#resultField {
  display: block;
  width: 80%;
  margin: 1px auto;
}

.resTable {
  display: block;
  float: left;
  font-size: 25px;
  line-height: 120%;
  margin: 0.5em;
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Kabel', sans-serif;
}

.resTableH {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: 'Kabel', sans-serif;
}

.resTableL {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  text-align: right;
  padding-right: 5px;
  font-family: 'Kabel', sans-serif;
}

.resTableR {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-family: 'Kabel', sans-serif;
  width: 14px;
}

a {
  text-decoration: none;
  color: #fff5db;
  font-family: 'Kabel', sans-serif;
}

a:hover {
  color: #fff5db;
  font-family: 'Kabel', sans-serif;
}
